// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card .card-incube {
	padding-left: 27px;
  padding-top: 27px;
  padding-right: 27px;
}

.card .card-code {
	padding-left: 27px;
  padding-top: 108px;
  padding-right: 27px;
  padding-bottom: 107px;
}

.card .card-startfair {
	padding-left: 27px;
  padding-top: 27px;
  padding-right: 27px;
  padding-bottom: 82px;
}